@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
  }
  body {
    @apply text-slate-900;
    min-height: 100vh;
    background: linear-gradient(to bottom, #1a202c, #2d3748);
  }
  h1, h2, h3 {
    @apply font-bold tracking-tight;
  }
}