@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
  }
  body {
    @apply bg-slate-50 text-slate-900;
  }
  h1, h2, h3 {
    @apply font-bold tracking-tight;
  }
}